:root {
	--color-background:hsl(253, 53%, 83%);
	--color-light-background:hsl(253, 100%, 94%);
	--color-dark-background:hsl(253, 39%, 77%);
	--color-very-dark-background:hsl(272, 100%, 23%);
	/*--color-light-background:#e6dfff;
	--color-background:#c7bdeb;
	--color-dark-background:#b7addb;
	--color-very-dark-background:#b7addb;*/
	--roundrect-radius:1em;
	--size-basis:calc(max(24px, min(30px, 2vw)));
	/*--animation-time:166ms;*/
	/*--animation-time:300ms;*/
	--animation-time:500ms;
	/*--animation-time:2000ms;*/
	/*--animation-time:10000ms;*/
	/*Firefox does not support calc() in var() in transition-duration:*/
	/*--animation-time:calc(20.0ms * 1000.0ms / 120.0ms);*/
	/*--animation-time:calc(100.0ms * 1000.0ms / 120.0ms);*/
	--animation-type:ease-in-out;
}

body
{
    font-family:Helvetica Neue,Arial,sans-serif;color:black;
    font-size:calc(0.75 * var(--size-basis));
    margin:0px;
}

.roundrect
{
    border-radius:var(--roundrect-radius);
}

.roundrect_padding
{
    padding:calc(var(--size-basis) * 0.5);
    margin:calc(var(--size-basis) * 0.5);
}